.fkjs-theme-form-container{
    width: 50%;
}

.fkjs-theme-static-modal{
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}