*{
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-normal;
}

html,body{
    height: 100%;
}

body {
    background-color: #fff;
}

a {
    color: $link-color;
    text-decoration: none;
}
a:hover,
a:focus,
a:visited{
    color: darken($link-color, 10%);
}
a:hover,
a:focus{
    text-decoration: underline;
}
a:focus {
    outline: 0;
    outline-offset: -2px;
}


// ~~~ common styles for the entire app

.fkjs-page-container{
    overflow-y: auto;
    padding: $padding-small;
}